    <footer>
        <div class="footer-container">
            <p>&copy; 2026 Service Project. All rights reserved.</p>
        </div>
    </footer>
    <script src="/js/navigation.js"></script>
</body>
</html>
